.client_list_container {
  padding: 20px;
}

.add_new_client {
  font-size: 20px;
  height: 70px;
  width: 200px;
  padding: 0;
  color: white;
  background-color: #04AA6D;
}

.client_table {
  width: 70%;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
}

.edit_client_button {
  font-size: 15px;
  width: 100px;
  padding: 0;
  color: white;
  background-color: #04AA6D;
}

.delete_client_button {
  font-size: 15px;
  width: 100px;
  padding: 0;
  color: white;
  background-color: #04AA6D;
}

.logout-button{
  margin-top: 100px;
  font-size: 20px;
  height: 70px;
  width: 200px;
  padding: 0;
  color: white;
  background-color: #04AA6D;
  border: 0;
  border-radius: 5px;
  float: right;
}
